asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.6
django-allauth==0.63.6
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-qrcode==0.3
frozenlist==1.4.1
idna==3.7
image==1.5.33
maxminddb==2.6.2
mssql-django==1.5
multidict==6.0.5
mysqlclient==2.2.4
pillow==10.4.0
pyodbc==5.1.0
pypng==0.20220715.0
python-decouple==3.8
pytz==2024.1
qrcode==6.1
requests==2.32.3
setuptools==71.1.0
simplejson==3.19.2
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2