<!DOCTYPE html>
<html lang="en">
    {% load static %} {% load custom_filters %} {% include 'header.html' %}
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Title -->
        <title>Checkout</title>
        <!-- Favicon -->
        <link rel="icon" href="{% static 'core-img/favicon.ico' %}" />
        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <!-- jQuery (necessary for AJAX) -->
        <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-circle"></div>
            <div class="preloader-img"><img src="{% static 'core-img/leaf.png' %}" alt="" /></div>
        </div>
        <!-- ##### Breadcrumb Area Start ##### -->
        <div class="breadcrumb-area">
            <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"><h2>Checkout</h2></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcrumb Area End ##### -->
        <!-- ##### Checkout Area Start ##### -->
        <div class="checkout_area mb-100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-7">
                        <div class="checkout_details_area clearfix">
                            <h5>Billing Details</h5>
                            <form action="{% url 'place_order' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-4"><label for="first_name">First Name *</label> <input type="text" class="form-control" id="first_name" name="first_name" value="" required /></div>
                                    <div class="col-md-6 mb-4"><label for="last_name">Last Name *</label> <input type="text" class="form-control" id="last_name" name="last_name" value="" required /></div>
                                    <div class="col-12 mb-4"><label for="email_address">Email Address *</label> <input type="email" class="form-control" id="email_address" name="email_address" value="" required /></div>
                                    <div class="col-12 mb-4"><label for="phone_number">Phone Number *</label> <input type="number" class="form-control" id="phone_number" name="phone_number" min="0" value="" required /></div>
                                    <div class="col-12 mb-4"><label for="company">Company Name</label> <input type="text" class="form-control" id="company" name="company" value="" /></div>
                                    <div class="col-12 mb-4"><label for="address">Address *</label> <input type="text" class="form-control" id="address" name="address" value="" required /></div>
                                    <div class="col-md-6 mb-4"><label for="city">Town/City *</label> <input type="text" class="form-control" id="city" name="city" value="" required /></div>
                                    <div class="col-md-6 mb-4"><label for="state">State/Province *</label> <input type="text" class="form-control" id="state" name="state" value="" required /></div>
                                    <div class="col-md-6 mb-4"><label for="postcode">Postcode/Zip *</label> <input type="text" class="form-control" id="postcode" name="postcode" value="" required /></div>
                                    <div class="col-md-12 mb-4">
                                        <label for="order-notes">Order Notes</label>
                                        <textarea class="form-control" id="order-notes" name="order_notes" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label for="payment_method">Payment Method *</label>
                                        <select class="form-control" id="payment_method" name="payment_method" required>
                                            <option value="Cash">Cash</option>
                                            <option value="Card">Card</option>
                                            <option value="UPI">UPI</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-center">
                                            <!-- Single Checkbox -->
                                            <div class="custom-control custom-checkbox d-flex align-items-center mr-30">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1" /> <label class="custom-control-label" for="customCheck1">Ship to a different address?</label>
                                            </div>
                                            <!-- Single Checkbox -->
                                            <div class="custom-control custom-checkbox d-flex align-items-center">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2" /> <label class="custom-control-label" for="customCheck2">Create an account?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-4"><button type="submit" class="btn alazea-btn w-100">Place Order</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="checkout-content">
                            <h5 class="title--">Your Order</h5>
                            <div class="products">
                                <div class="products-data">
                                    <h5>Products:</h5>
                                    {% for item in cart_items %}
                                    <div class="single-products d-flex justify-content-between align-items-center">
                                        <p>{{ item.product.name }} x {{ item.quantity }}</p>
                                        <h5>₹{{ item.quantity|floatformat:2|mul:item.product.prize }}</h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="subtotal d-flex justify-content-between align-items-center">
                                <h5>Subtotal</h5>
                                <h5>₹{{ cart_items|sum_total }}</h5>
                            </div>
                            <div class="shipping d-flex justify-content-between align-items-center">
                                <h5>Shipping</h5>
                                <h5>₹{{ shipping_charge }}</h5>
                                
                            </div>
                            <div class="shipping d-flex justify-content-between align-items-center">
                                <h5>GST@12%</h5>
                                <h5>₹{{ gst }}</h5>
                                
                            </div>
                            
                            <div class="order-total d-flex justify-content-between align-items-center">
                                <h5>Order Total</h5>
                                <h5>₹{{ grand_total }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Checkout Area End ##### -->
        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
        <!-- Popper js -->
        <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
        <!-- Bootstrap js -->
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <!-- All Plugins js -->
        <script src="{% static 'js/plugins/plugins.js' %}"></script>
        <!-- Active js -->
        <script src="{% static 'js/active.js' %}"></script>
        <!-- Custom Script for Auto-Filling Town and State -->
        <script>
            $(document).ready(function () {
                $("#postcode").on("input", function () {
                    var postcode = $(this).val();
                    if (postcode.length === 6) {
                        $.ajax({
                            url: '{% url "fetch_location_details" %}',
                            data: { postcode: postcode },
                            success: function (data) {
                                $("#city").val(data.city);
                                $("#state").val(data.state);
                            },
                        });
                    } else {
                        $("#city").val("");
                        $("#state").val("");
                    }
                });
            });
        </script>
    </body>
    {% include 'footer.html' %}
</html>
